<a href="https://colab.research.google.com/github/Mavikka5C/check/blob/main/Sapota.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd

In [13]:
df=pd.read_csv("/content/sales_data_1.csv")

In [14]:
df

,Date,Firm bought from,Buying price,Customer,Selling price,Quantity sold
0,21/08/23,Vendor6,72.11,Customer7,91.58,44
1,21/08/23,Vendor4,75.08,Customer7,83.71,17
2,21/08/23,Vendor7,83.93,Customer2,103.76,15
3,21/08/23,Vendor7,52.01,Customer3,64.53,7
4,21/08/23,Vendor2,98.91,Customer5,140.92,1
...,...,...,...,...,...,...
65,27/08/23,Vendor4,64.82,Customer6,87.45,18
66,27/08/23,Vendor8,88.79,Customer3,105.59,5
67,27/08/23,Vendor5,63.30,Customer5,92.92,32
68,27/08/23,Vendor5,94.06,Customer5,125.67,4
69,27/08/23,Vendor5,56.28,Customer6,82.16,1

In [15]:
df['Selling price'].sum()

5173.93

In [10]:
df.dtypes

Date                 object
Firm bought from     object
Buying price        float64
Customer             object
Selling price       float64
Quantity sold         int64
dtype: object

In [ ]:
df['profit']=(df['Selling price']-df['Buying price'])*df['Quantity sold']

In [ ]:
df

,Date,Firm bought from,Buying price,Customer,Selling price,Quantity sold,profit
0,21/08/23,Vendor6,72.11,Customer7,91.58,44,856.68
1,21/08/23,Vendor4,75.08,Customer7,83.71,17,146.71
2,21/08/23,Vendor7,83.93,Customer2,103.76,15,297.45
3,21/08/23,Vendor7,52.01,Customer3,64.53,7,87.64
4,21/08/23,Vendor2,98.91,Customer5,140.92,1,42.01
...,...,...,...,...,...,...,...
65,27/08/23,Vendor4,64.82,Customer6,87.45,18,407.34
66,27/08/23,Vendor8,88.79,Customer3,105.59,5,84.00
67,27/08/23,Vendor5,63.30,Customer5,92.92,32,947.84
68,27/08/23,Vendor5,94.06,Customer5,125.67,4,126.44
69,27/08/23,Vendor5,56.28,Customer6,82.16,1,25.88

In [ ]:
df['Firm bought from'].unique()

array(['Vendor6', 'Vendor4', 'Vendor7', 'Vendor2', 'Vendor9', 'Vendor3',
       'Vendor1', 'Vendor5', 'Vendor10', 'Vendor8'], dtype=object)

In [ ]:
df.groupby('Firm bought from')['profit'].sum()

Firm bought from
Vendor1     1555.59
Vendor10    3040.62
Vendor2     1296.98
Vendor3     6370.67
Vendor4     6903.31
Vendor5     1616.14
Vendor6     1217.95
Vendor7     4961.05
Vendor8      253.74
Vendor9     4266.70
Name: profit, dtype: float64

In [ ]:
df.groupby('Firm bought from')['profit'].sum().sum() #overall company's profit

31482.75

In [ ]:
df.groupby('Firm bought from')['profit'].sum().sort_values(ascending=False)

Firm bought from
Vendor4     6903.31
Vendor3     6370.67
Vendor7     4961.05
Vendor9     4266.70
Vendor10    3040.62
Vendor5     1616.14
Vendor1     1555.59
Vendor2     1296.98
Vendor6     1217.95
Vendor8      253.74
Name: profit, dtype: float64

In [ ]:
df.groupby('Firm bought from')['profit'].sum().sort_values(ascending=False).tail(1) #least profitable vendor

Firm bought from
Vendor8    253.74
Name: profit, dtype: float64

In [ ]:
df.groupby('Firm bought from')['profit'].sum().sort_values(ascending=False).head(1) #most profitable vendor

Firm bought from
Vendor4    6903.31
Name: profit, dtype: float64

In [ ]:
df['profit'].sum()  #overall company's profit

31482.749999999996

In [ ]:
(df['Selling price']*df['Quantity sold']).sum()

127804.31

In [ ]:
df['profit'].sum()*100/(df['Selling price']*df['Quantity sold']).sum()  #gross margin in %

24.63355891518838

In [ ]:
df.groupby('Customer')['profit'].sum()

Customer
Customer1     5310.57
Customer10    3692.44
Customer2     4215.67
Customer3     1055.05
Customer4     3337.37
Customer5     1315.28
Customer6     1930.76
Customer7     2197.62
Customer8     6498.91
Customer9     1929.08
Name: profit, dtype: float64

In [ ]:
df.groupby('Customer')['profit'].sum().sort_values(ascending=False).tail(1)  #least profitable customer

Customer
Customer3    1055.05
Name: profit, dtype: float64

In [ ]:
df.groupby('Customer')['profit'].sum().sort_values(ascending=False).head(1)  #most profitable customer

Customer
Customer8    6498.91
Name: profit, dtype: float64

In [ ]:
df.groupby('Date')['profit'].sum()

Date
21/08/23    6847.34
22/08/23    3305.35
23/08/23    4392.47
24/08/23    4866.03
25/08/23    3761.94
26/08/23    5223.16
27/08/23    3086.46
Name: profit, dtype: float64

In [ ]:
df.groupby('Date')['profit'].sum().sort_values(ascending=False).head(1) #day of the week was most profitable for them

Date
21/08/23    6847.34
Name: profit, dtype: float64

In [ ]:
df.groupby('Date')['profit'].sum().sort_values(ascending=False).tail(1) #day of the week was least profitable for them

Date
27/08/23    3086.46
Name: profit, dtype: float64

In [ ]:
d2=pd.read_csv("/content/sales_data_2.csv")

In [ ]:
d2

,Date,Firm bought from,Buying price,Quantity bought,Customer,Selling price,Quantity sold
0,2023-08-21,Vendor6,72.11,60,Customer7,91.58,44
1,2023-08-21,Vendor4,75.08,92,Customer7,83.71,17
2,2023-08-21,Vendor7,83.93,16,Customer2,103.76,15
3,2023-08-21,Vendor7,52.01,62,Customer3,64.53,7
4,2023-08-21,Vendor2,98.91,1,Customer5,140.92,1
...,...,...,...,...,...,...,...
65,2023-08-27,Vendor4,64.82,28,Customer6,87.45,18
66,2023-08-27,Vendor8,88.79,14,Customer3,105.59,5
67,2023-08-27,Vendor5,63.30,81,Customer5,92.92,32
68,2023-08-27,Vendor5,94.06,18,Customer5,125.67,4
69,2023-08-27,Vendor5,56.28,25,Customer6,82.16,1

In [ ]:
d2['profit']=(d2['Selling price']- d2['Buying price'])*d2['Quantity sold']

In [ ]:
new=pd.DataFrame()

In [ ]:
new['gm']=d2.groupby('Firm bought from')['profit'].sum()/(d2['Selling price']*d2['Quantity sold']).sum()*100

In [ ]:
new['qs']=d2.groupby('Firm bought from')['Quantity sold'].sum()/d2.groupby('Firm bought from')['Quantity bought'].sum()*100

In [ ]:
new

                        gm         qs
Firm bought from
Vendor1           1.217166  40.806045
Vendor10          2.379122  53.846154
Vendor2           1.014817  48.820755
Vendor3           4.984707  65.242165
Vendor4           5.401469  49.635036
Vendor5           1.264543  29.721362
Vendor6           0.952980  62.698413
Vendor7           3.881755  42.925278
Vendor8           0.198538  17.293233
Vendor9           3.338463  60.931900

In [ ]:
new.sort_values(by=['gm','qs'],ascending=False)

                        gm         qs
Firm bought from
Vendor4           5.401469  49.635036
Vendor3           4.984707  65.242165
Vendor7           3.881755  42.925278
Vendor9           3.338463  60.931900
Vendor10          2.379122  53.846154
Vendor5           1.264543  29.721362
Vendor1           1.217166  40.806045
Vendor2           1.014817  48.820755
Vendor6           0.952980  62.698413
Vendor8           0.198538  17.293233

In [ ]:
new.sort_values(by=['gm','qs'],ascending=False).head(1)

                        gm         qs
Firm bought from
Vendor4           5.401469  49.635036